.footer-menu {
    display: flex;
    padding: 1.8rem 0;
    list-style: none;

    &__link {
        @include font-links($dark-moderate-cyan);
        margin: 1rem 1.5rem;
        font-weight: 700;

        @include mQ(768px) {
            font-size: 1.3rem;
        }

        &:hover {
            color: $white;
            cursor: pointer;
        }
    }
}