.footer {
    @include flex-column-center;
    background-color: $dark-cyan;
    padding: 14vw 6vw;

    @include mQ(1200px) {
        padding: 5vw 6vw;
    }    
}

.footer__logo {
    width: 180px;

    @include mQ(768px) {
        width: 250px;
    }

    @include mQ(1200px) {
        width: 350px;
    }    
}
