.projects-gallery {
    display: flex;
    flex-wrap: wrap;

    @include mQ(768px) {
        flex-wrap: nowrap;
    }
}

.projects-gallery__img {
    width: 50%;

    @include mQ(768px) {
        width: 25%;
    }
}