.services {
    @include mQ(768px) {
        display: flex;
    }    
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 70vh;
    padding: 6vw;

    @include mQ(768px) {
        width: 50%;
        height: 80vh;
        padding: 5.3vw;
    }
    @include mQ(1200px) {
        height: 100vh;
    }    
}
.service--design {
    @include bg-image(url(../images/mobile/image-graphic-design.jpg), top center);

    @include mQ(768px) {
        background-image: url(../images/desktop/image-graphic-design.jpg);
    }
}

.service--photography {
    @include bg-image(url(../images/mobile/image-photography.jpg), top center);
    
    @include mQ(768px) {
        background-image: url(../images/desktop/image-photography.jpg);
    }
}

.service__title {
    @include title($dark-desaturated-cyan, capitalize);

    &--blue {
        color: $dark-blue;
    }
}
.service__text {
    @include text($sans-font, normal, $dark-desaturated-cyan, center);    
    line-height: 1.5;
    
    &--blue {
        color: $dark-blue;       
    }
}